:root {
  --font-sans-serif: "Arial", sans-serif;
  --font-serif: "Times New Roman", serif;
  --font-mono: "Courier New", monospace;
  --bs-btn-color: black;
  --font-purple: #a445ed;
  --font-black: #2d2d2d;
  --background-black: #050505;
  --app-grey: #757575;
  --very-light-grey: #e9e9e9;
  --search-background: #f4f4f4;
}

.sans {
  font-family: var(--font-sans-serif);
}

.serif {
  font-family: var(--font-serif);
}

.mono {
  font-family: var(--font-mono);
}

.dark-mode {
  color: white;
  background-color: var(--background-black);
}

.light-mode {
  color: var(--font-black);
  background-color: white;
}

.App {
  text-align: center;
  padding: 1.5rem;
  min-height: 100vh;
}

/* search section */
.userInput {
  border: none;
  width: 100%;
  font-size: 1rem;
  // padding: 1rem 1.5rem;
  height: 3rem;
  background-color: transparent;
}

.red-outline {
  border: 1px solid red;
}

.userInput:focus {
  outline: none;
}

.search-section {
  outline: none;
  border-radius: 8px;
  margin-top: 1.5rem;
  margin-bottom: 1.75rem;
  background-color: var(--search-background);
}

.dark-search {
  background-color: #1f1f1f;
}

.white-text {
  color: white;
}

.col.row.dark-search {
  color: white;
}

#search-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  height: 0.97188rem;
  width: 0.97188rem;
}

.source-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid var(--very-light-grey);
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  justify-content: flex-start;

  .source-content-light-mode {
    color: var(--font-black);
    text-decoration: none;
    font-size: 0.875rem;
  }

  .header-column {
    text-align: left;
    padding: 0;
  }

  .source-row {
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
  }

  .source-content-dark-mode {
    color: white;
    text-decoration: none;
    font-size: 0.875rem;
  }

  .source-content-dark-mode:hover,
  .source-content-light-mode:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .source-header {
    color: var(--app-grey);
    text-decoration: underline;
  }

  .source-header,
  .source-content {
    font-size: 0.875rem;
    margin: 0;
  }

  .link-and-icon {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
