:root {
  --font-sans-serif: "Arial", sans-serif;
  --font-serif: "Times New Roman", serif;
  --font-mono: "Courier New", monospace;
  --bs-btn-color: black;
}

.sans {
  font-family: var(--font-sans-serif);
}

.serif {
  font-family: var(--font-serif);
}

.mono {
  font-family: var(--font-mono);
}

.dark-mode {
  color: white;
  background-color: black;
}

.light-mode {
  color: black;
  background-color: white;
}

.App {
  text-align: center;
  padding: 1.5rem;
}

/* search section */
.userInput {
  border: none;
  width: 100%;
  font-size: 1rem;
  // padding: 1rem 1.5rem;
  height: 3rem;
}

.userInput:focus {
  outline: none;
}

.search-section {
  border: 1px solid black;
  outline: none;
  border-radius: 8px;
}

.search-column {
  display: flex;
  align-items: center;
  justify-content: center;
}
