.btn {
  //font
  --bs-btn-color: black !important;
  --bs-btn-hover-color: black !important;
  --bs-btn-active-color: black !important;
  --bs-btn-disabled-color: black !important;
  //background
  --bs-btn-bg: transparent !important;
  --bs-btn-hover-bg: transparent !important;
  --bs-btn-active-bg: transparent !important;
  //border
  --bs-btn-border-color: transparent !important;
  --bs-btn-hover-border-color: black !important;
}
