.synonym-div {
  display: flex;
  align-items: center;

  margin-top: 1rem;
  margin-bottom: 1rem;

  #synonym-header {
    font-size: 1rem;
    margin: 0;
  }

  .synonyms {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    flex: 1;
    justify-content: space-around;

    .syn-list-item {
      list-style: none;
      font-size: 1rem;
    }
  }
}
