.typeComponent {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-top: 1px solid var(--very-light-grey);
  margin-top: 2rem;
}

#type-header {
  font-size: 1.125rem;
  font-style: italic;
  margin: 0;
  font-weight: 700;
}

.hc-dark {
  background-color: #050505 !important;
}

// when the parent doesn't have dark-mode
.header-container::before {
  height: 1.5rem;
  width: 1rem;
  content: "";
  position: absolute;
  left: -1rem;
  background-color: white;
}

//when the parent does have dark mode
.header-container.hc-dark::before {
  background-color: black;
}

.header-container {
  width: fit-content;
  padding-right: 1rem;
  position: absolute;
  transform: translate(0, -50%);
  background-color: white;
}

#meaning {
  font-size: 1rem;
  margin-top: 2.5rem;
  color: var(--app-grey);
}

.example {
  font-size: 0.9375rem;
  margin-bottom: 1.5rem;
  color: var(--app-grey);
}
