.word-and-pron,
.audio-column {
}

.word-and-pron {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .word {
    font-size: 2rem;
    font-weight: 700;
    word-wrap: break-word;
    max-width: 100%;

    margin: 0;
    padding: 0;
  }

  .phonetic {
    color: var(--font-purple);
    font-size: 1.125rem;
  }
}

.audio-column {
  padding: 0;
  display: flex;
  align-items: center;
  button {
    border-radius: 50%;
    border: none;
    background-color: transparent;
  }
}
